<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="js/vue.js"></script>
<body>
<div id="app">
   <div>
       <label for="">
           id:
           <input type="text" v-model="id">
       </label>
       <label>
           name:
           <input type="text" v-model="name">
       </label>
       <input type="button" value="添加" @click="add">
   </div>
    <!--v-for循环过程中 只能使用number或者string-->
    <!--key在使用过程中只能使用v-bind属性绑定的形式，指定key的值-->
    <!--在组件中使用v-for循环中，或者在一些特殊的情况中，如果v-for有问题，必须在使用
    v-for的同时，指定唯一的字符串/数字类型 ：key 值-->
    <p v-for="item in list" :key="item.id">
        <input type="checkbox">{{item.id}}---{{item.name}}
    </p>
</div>
</body>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            id:'',
            name:'',
            list:[
                {id:1,name:'李斯'},
                {id:2,name:'嬴政'},
                {id:3,name:'赵高'},
                {id:4,name:'韩非'},
                {id:5,name:'荀子'}
                ]
        },
        methods:{
            add(){
                this.list.unshift({id:this.id,name:this.name})
            }
        }
    })
</script>
</html>