<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<script src="js/vue.js"></script>
<body>
<div id="app">
    <cmt-box @func="loadComments"></cmt-box>

    <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :key="item.id">
            <span class="badge">评论人：{{item.user}}</span>
            {{item.content}}
        </li>
    </ul>
</div>
<template id="tmpl">
    <div>
        <div class="form-group">
            <label for="">
                评论人: </label>
                <input type="text" class="form-control" v-model="user">

        </div>

        <div class="form-group">
            <label for="">
                评论内容:</label>
                <textarea v-model="content" class="form-control" name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group">
            <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
        </div>
    </div>
</template>
</body>
<script>
    var commentBox={
        template:"#tmpl",
        data:function(){
            return{
                user:"",
                content:""
            }
        },
        methods:{
            postComment(){
                //发表评论的业务逻辑
                //1.数据存到哪里？ 存放到了localStorage localStorage.setItem
                //2.先组织出一个最新的评论对象，
                //3.想办法 把 第二步 得到的评论对象，保存到 localStorage
                // 3.1 localStorage只支持字符串 先要调用JSON.stringify
                // 3.2 在保存最新的评论数据之前，要先从localStorage获取到之前的评论数据（string），转换为一个数组对象
                //     然后把最新的评论push到这个数组
                // 3.3 如果获取到的localStorage中的评论字符串 为空不存在，则 可以返回一个'[]' 让JSON.parse去转换
                // 3.4 把 最新的 评论列表数组 再次调用JSON.stringify 转为 数组字符串 然后调用localStorage.setItem()

                var comment={id : Date.now(),user:this.user,content:this.content}
                //从localStorage中 获取所有的评论
                var list = JSON.parse(localStorage.getItem('cmts')||"[]")
                list.unshift(comment)
                localStorage.setItem("cmts",JSON.stringify(list))
                this.user=this.comment="";
                this.$emit('func')
             }
        }
    }
    var vm=new Vue({
        el:"#app",
        data:{
           list:[
               { id:Date.now(),user:"李白",content:"天生我才必有用"},
               { id:Date.now(),user:"江小白",content:"劝君更尽一杯酒"},
               { id:Date.now(),user:"小马",content:"我姓马，风吹草低见牛羊的马"}
           ]
        },
        components:{
            'cmt-box':commentBox
        },
        created(){
          this.loadComments();
        },
        methods:{
            loadComments(){
                var list=JSON.parse(localStorage.getItem("cmts")||"[]")
                this.list=list
            }
        }
    })
</script>
</html>